@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to top,var(--cor1),var(--cor2));
    }
    section#login {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,1fr);
        width: 80vw;
        height: 300px;
    }
    section#login > div#imagem {
        grid-row: 1/6;
        grid-column: 1/2;
        height: 100%;
    }
    section#login > div#formulario {
        grid-row: 1/6;
        grid-column: 2/4;
    }
    div#formulario > h1 {
        font-size: 1.7em;
    }
    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}

@media screen and (min-width:992px) {

    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor2));
    }
    section#login {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(5,1fr);
        width: 950px;
        height: 350px;
    }
    section#login > div#imagem {
        grid-row: 1/6;
        grid-column: 3/5;
        height: 100%;
    
    }
    section#login > div#formulario {
        grid-row: 1/6;
        grid-column: 1/3;
        height: 100%;
    }
    div#formulario > h1 {
        font-size: 2em;
    }
    div#formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
}